*{
  margin: 0;
  padding: 0;
}
body{
  background-color:#0F445A ;
}

.App {
  text-align: center;
  color:#e8f3f7;
  background-color: #0F445A;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#widget div {
  display:inline-block;
  vertical-align: middle;
  border: 3px solid #1d84af;
  border-radius: 10px;
  background-color: #1d84af;
  padding: 5px;
  width: 500px;
  height: 250px;
  margin: 15px;
}

#graph{
  margin-left: 125px;
}

#textwidget p {
  margin: 10px;
  vertical-align: middle;
  border-radius: 10px;
  padding: 10px;
}
input {
  margin: 10px;
  vertical-align: middle;
  border-radius: 10px;
  padding: 10px;
}
button {
  margin: 10px;
  vertical-align: middle;
  border-radius: 10px;
  padding: 10px;
}
h3 {
  margin: 10px;
  vertical-align: middle;
  border-radius: 10px;
  padding: 10px;
}
.imgRanked {
  width: 450px;
  height: 220px;
}